body {
    font-family: Arial, sans-serif;
    background-color: #FFE5CF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

home{
    background-color: #FF885B;
    color: #fff;
    padding: 10px 0;
    font-style: italic;
}
.reservation-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

h1 {
    margin-bottom: 1.5rem;
    color: #557C56;
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #557C56;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="number"],
textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #33372c;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

input:focus,
textarea:focus {
    border-color: #557C56;
    outline: none;
}

.reservation-button {
    background-color: #007bff;
    color: #fff;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
}

.reservation-button:hover {
    background-color: #557C56;
}
